.avatar-header {
  height: 400px;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  background-color: #480f7c;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  text-align: center;
}

.avatar-header .name {
  font-size: 30px;
  color: white;
}

header > div > img {
  border-radius: 150px;
  border: solid 5px;
  border-color: #d4d6cf;
  background-color: #faae82;
}

@media only screen and (min-width: 1024px) {
  .avatar-header {
    width: 33%;
    margin-top: 100px;
    height: 400px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
