.avatar-header {
  height: 400px;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  background-color: #4e6746;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  text-align: center;
}

.avatar-header .name {
  font-size: 30px;
  color: white;
}
