html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #fad30a;
  background-color: #f4f1ec;
  font-size: 24px;
}

main {
  top: 400px;
  margin: auto;
  position: relative;
  width: 90%;
}

.error {
  color: #880808;
  font-weight: bold;
  background-color: transparent;
  background-repeat: no-repeat;
  border-style: solid;
}

@media only screen and (min-width: 1024px) {
  main {
    width: 50%;
    float: right;
    top: 70px;
    right: 100px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 1024px) {
  main {
    padding-bottom: 50px;
  }
}
