.text-tweet {
  padding-top: 5em;
}
form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 1.5em;
}
textarea {
  width: 100%;
  background: transparent;
  font-weight: bold;
  border: none;
  border-bottom: solid 5px;
  margin-top: 0em;
  margin-bottom: 0.5em;
  color: #000000;
  height: 30px;
}

input {
  font-family: "Bungee", cursive, sans-serif;
  background-color: #4056a1;
  color: #ffffff;
}

button {
  font-family: "Bungee", cursive, sans-serif;
  color: white;
  background: #4056a1;
}

.counter {
  font-family: "Bungee", cursive, sans-serif;
  bottom: 50px;
}

.tweet-character-count {
  display: flex;
  justify-content: space-between;
}
