#tweet {
  border: 4px solid #480F7C;
  padding: 1em;
  width: 90%;
  margin-left: 80px;
  margin-top: 30px;
}

#tweet:hover {
  box-shadow: 5px 5px #480F7C;
}

.handle > div > img {
  border-radius: 100px;
  border: 5px solid;
  border-color: #480F7C;
  background-color: blanchedalmond;
}

.handle > div {
  color: 		#FAD30A;
}
.handle > div:hover {
  color: 	goldenrod;
}
.handle {
  color: white;
  display: flex;
  justify-content: space-between;
}
.content {
  border-bottom: solid 5px;
  margin-top: 1em;
  padding-bottom: 2.5em;
  color: whitesmoke;
  height: 50px;
}
.foot {
  font-size: 18px;
  padding-top: 1em;
}

.actions {
  float: right;
}

article footer > div > i:hover {
  color: goldenrod;
}
